{% extends "base.html" %}
{% block content %}
<div class="mainDiv">
	<h1 style="text-align:center; color: #FFFFFA; padding: 30px; font-weight: bold;">About: </h1>
	<h2 style="text-align:center; color: #FFFFFA;">Web App with back-end written in Python.</h2>
	<h2 style="text-align:center; color: #FFFFFA;">Project for the class of "Aplicacoes Informaticas".</h2>
	<h3 style="text-align:center; color: #FFFFFA;">Project's repository <a href="https://github.com/JeronimoMendes/Youtify" target="_blank" style="color:#1DB954">here!</a></h3>
</div>
{% endblock %} 
