{% extends "base.html" %}

{% block content%}
<script>
    setTimeout(function(){
        window.location.href = '/';
    }, 15000);

</script>
<body>
	<div class="mainDiv" style="text-align: center;">
	<h1 style="color: #FFFFFA; text-align: center; padding: 30px;">🎉 I'm done! 🎉</h1>
		<img src="https://media0.giphy.com/media/35HTaxVJWzp2QOShct/200w.webp?cid=ecf05e4719a72cc324c83c9298a21dad73dee501d90593f0&rid=200w.webp"
id="randomimage" alt="Random image" width="400" height="400" />
	</div>
</body>
{% endblock %}